{% if linkedin is not empty %}
    <a href="{{ linkedin }}" target="_blank" class="hir-social-link">
        <i class="fa-brands fa-linkedin fa-2x mx-1" aria-hidden="true" style="color: #0074B1;"></i>
    </a>
{% endif %}
{% if facebook is not empty %}
<a href="{{ facebook }}" target="_blank" class="hir-social-link">
    <i class="fa-brands fa-facebook-square fa-2x mx-1" aria-hidden="true" style="color: #0B8AEF;"></i>
</a>
{% endif %}
{% if twitter is not empty %}
<a href="{{ twitter }}" target="_blank" class="hir-social-link">
    <i class="fa-brands fa-twitter-square fa-2x mx-1" aria-hidden="true" style="color: #1A91DA;"></i>
</a>
{% endif %}
{% if instagram is not empty %}
<a href="{{ instagram }}" target="_blank" class="hir-social-link">
    <i class="fa-brands fa-instagram fa-2x mx-1" aria-hidden="true" style="color: #D62977;"></i>
</a>
{% endif %}
{% if youtube is not empty %}
<a href="{{ youtube }}" target="_blank" class="hir-social-link">
    <i class="fa-brands fa-youtube fa-2x mx-1" aria-hidden="true" style="color: #FF0100;"></i>
</a>
{% endif %}
