<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Property advert validated</title>

</head>
<body>
<center>
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" id="bodyTable" style="height:100%;">
        <tr>
            <td align="center" valign="top" id="bodyCell">
                <!-- BEGIN TEMPLATE // -->
                <!--[if gte mso 9]>
                <table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
                    <tr>
                        <td align="center" valign="top" width="600" style="width:600px;">
                <![endif]-->
                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer">

                    <!-- BEGIN BODY // -->
                    <tr>
                        <td valign="top" id="templateBody">
                            <!-- BEGIN MODULE: BODY CONTENT // -->
                            <div>
                                <h3>Your property advert has been published</h3>

                                <p><strong>Dear {{ advert.field_advert_contact_name.value }}!</strong></p>
                                <br>
                                <p>Your advert reference {{ advert.field_advert_reference.value }} is online: <a href="{{ advert_url }}">{{ advert_url }}</a></p>
                                <p>Please check that your advert looks ok and corresponds to the services/posting options you have selected.</p>
                                <br>
                                <p>For a kind reminder, our services/posting options are listed below.</p>
                                <p>Please don’t hesitate to send us your feedback or refer {{ drupal_token('site:name') }} to your friend and family.</p>
                                <br>
                                <strong>Our Property Advertisement Services:</strong>
                                <ul>
                                    <li><strong>Featured:</strong> This is a self-service. You describe and post your adverts and they are approved and pushed online within a few hours. We share them on our social networks with your contact details for customer inquiries and they stay on our homepage for one month.</li>
                                    <li><strong>Super Featured:</strong> This service is suitable for a quick sale. We take professional photos, videos, and a website banner of your property that also stays on top of our homepage to attract maximum visibility. The advert stays on our homepage till it is stored/rented.</li>
                                    <li><strong>Brokers subscription:</strong> Reserved only for professional real estate brokers, we create your own private space on our platform. It is a self-service and you can reach us anytime (24/7) for technical support.</li>
                                    <li><strong>Enterprise Pack:</strong> Reserved for all real estate professionals: auctioneers, real estate developers, financial institutions, etc... We create a web banner, news, videos and surveys for your adverts/projects and regularly share them through our newsletters.</li>
                                </ul>
                                <br>
                                <p>Did you find our services helpful? Please share with you friends and family.</p>
                                <br>
                                <p>Best regards, <br>{{ drupal_token('site:name') }}<br>T: {{ drupal_token('site:phone') }}<br/>E: {{ drupal_token('site:mail') }}</p>
                            </div>
                            <!-- // END MODULE: BODY CONTENT -->
                        </td>
                    </tr>
                    <!-- // END BODY -->
                </table>
                <!--[if gte mso 9]>
                </td>
                </tr>
                </table>
                <![endif]-->
                <!-- // END TEMPLATE -->
            </td>
        </tr>
    </table>
</center>
</body>
</html>