<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Property created</title>

</head>
<body>
<center>
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" id="bodyTable" style="height:100%;">
        <tr>
            <td align="center" valign="top" id="bodyCell">
                <!-- BEGIN TEMPLATE // -->
                <!--[if gte mso 9]>
                <table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
                    <tr>
                        <td align="center" valign="top" width="600" style="width:600px;">
                <![endif]-->
                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer">


                    <!-- BEGIN BODY // -->
                    <tr>
                        <td valign="top" id="templateBody">
                            <!-- BEGIN MODULE: BODY CONTENT // -->
                            <div>
                                <h3>Property advert creation</h3>

                                <p><strong>Dear {{ advert.field_advert_contact_name.value }}!</strong></p>
                                <br>
                                <p>Your property has been created on our website: <a href="{{ drupal_token('site:url') }}">www.houseinrwanda.com</a>. It is waiting to be validated.</p>
                                <br>
                                <strong>Property details:</strong>
                                <ul>
                                    <li><strong>Reference</strong>: {{ advert.field_advert_reference.value }}</li>
                                    <li><strong>Property title</strong>: {{ advert.title.value }}</li>
                                    <li><strong>Property address:</strong> {{ advert.field_advert_district.entity.name.value }}, {{ advert.field_advert_sector.value }}, {{ advert.field_advert_village.value }} {{ advert.field_advert_street.value }}</li>
                                    {% if advert.field_advert_posting_plan.value == 'standard' %}
                                        <li><strong>Posting type</strong>: Standard</li>
                                    {% elseif advert.field_advert_posting_plan.value == 'featured' %}
                                        <li><strong>Posting type</strong>: Featured 2W - 25,000 Rwf</li>
                                    {% elseif advert.field_advert_posting_plan.value == 'full_service' %}
                                        <li><strong>Posting type</strong>: Featured 1M - 40,000 Rwf</li>
                                    {% endif %}
                                </ul>
                                <br>
                                <strong>Advertiser's details:</strong>
                                <ul>
                                    <li><strong>Name</strong>: {{ advert.field_advert_contact_name.value }}</li>
                                    <li><strong>Phone number</strong>: {{ advert.field_advert_contact_tel.value }}</li>
                                {% if advert.field_advert_is_agent.value == '1' %}
                                    <li><strong>Agent/commissioner</strong>: {{ advert.field_advert_advertiser.entity.title.value }}</li>
                                    <li><strong>Company TIN</strong>: {{ advert.field_advert_advertiser.entity.field_agent_tin_nbr.value }}</li>
                                {% endif %}
                                </ul>
                                <br>
                                <strong>Contact details to book a visit:</strong>
                                <ul>
                                    <li><strong>Contact name</strong>: {{ advert.field_visit_contact_name.value }}</li>
                                    <li><strong>Contact phone number 1</strong>: {{ advert.field_visit_cellphone.value }}</li>
                                    <li><strong>Contact phone number 2</strong>: {{ advert.field_visit_cellphone_2.value }}</li>
                                    <li><strong>Contact email 1</strong>: {{ advert.field_visit_email_address1.value }}</li>
                                    <li><strong>Contact email 2</strong>: {{ advert.field_visit_email_address2.value }}</li>
                                </ul>
                                <br>
                                <p>The advert needs validation before it appears online. <br>Please check our Services/Posting options below (more details in the attached documents in English and Kinyarwanda) and make your payment as soon as possible(if applicable).</p>
                                <br>
                                <strong>Payment options:</strong>
                                <p>To make your payment, please choose an option:</p>
                                <ul>
                                    <li><strong>Mobile Money</strong> to this number {{ phone }}</li>
                                    <li><strong>Cash/cheque</strong> to our offices at Kimihurura</li>
                                    <li><strong>Bank transfer</strong> to our bank account number: 211-208517-1-5100-0</li>
                                    <li><strong>Paypal</strong> to info@houseinrwanda.com</li>
                                </ul>
                                <br>
                                <strong>Our services/Posting options:</strong>
                                <ul>
                                    <li><strong>Standard</strong>: It is a self-service and your adverts appear online for on month and only one picture of the property is displayed online.</li>
                                    <li><strong>Featured</strong>: It is a self-service, your adverts appear on our homepage for as long as needed and you can upload as many pictures of your property as you need.</li>
                                    <li><strong>Featured Plus</strong>: We assess your property, we take as many pictures as needed, we post them on our homepage and they stay on top of the featured listing for a maximum visibility.</li>
                                    <li><strong>Super Featured</strong>: Maximum visibility as your adverts are guaranteed to stay on top of the featured list.</li>
                                </ul>

                                <br>
                                <p>Best regards, <br>{{ drupal_token('site:name') }}</p>
                            </div>
                            <!-- // END MODULE: BODY CONTENT -->
                        </td>
                    </tr>
                    <!-- // END BODY -->

                </table>
                <!--[if gte mso 9]>
                </td>
                </tr>
                </table>
                <![endif]-->
                <!-- // END TEMPLATE -->
            </td>
        </tr>
    </table>
</center>
</body>
</html>