<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Property advert validated</title>

</head>
<body>
<center>
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" id="bodyTable" style="height:100%;">
        <tr>
            <td align="center" valign="top" id="bodyCell">
                <!-- BEGIN TEMPLATE // -->
                <!--[if gte mso 9]>
                <table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
                    <tr>
                        <td align="center" valign="top" width="600" style="width:600px;">
                <![endif]-->
                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer">

                    <!-- BEGIN BODY // -->
                    <tr>
                        <td valign="top" id="templateBody">
                            <!-- BEGIN MODULE: BODY CONTENT // -->
                            <div>
                                <h3>Advert validation confirmation</h3>

                                <p><strong>Dear {{ advert.field_advert_contact_name.value }}!</strong></p>

                                <p>Your advert reference {{ advert.field_advert_reference.value }} is online: <a
                                            href="{{ drupal_token('site:url') ~ path('entity.node.canonical', {'node':advert.id}) }}">{{ drupal_token('site:url') ~ path('entity.node.canonical', {'node':advert.id}) }}</a></p>
                                <p>Would you please double check that the number of pictures of pictures of your property and the expiry date correspond to the service option you have selected?</p>
                                <p>Thank you. For a kind reminder, our services are as listed below.</p>

                                <strong>Our Services:</strong>
                                <ul>
                                    <li><strong>Standard</strong>: It is a self-service and your adverts appear online for on month and only one picture of the property is displayed online.</li>
                                    <li><strong>Featured</strong>: It is a self-service, your adverts appear on our homepage for as long as needed and you can upload as many pictures of your property as you need.</li>
                                    <li><strong>Featured Plus</strong>: We assess your property, we take as many pictures as needed, we post them on our homepage and they stay on top of the featured listing for a maximum visibility.</li>
                                    <li><strong>Super Featured</strong>: Maximum visibility as your adverts are guaranteed to stay on top of the featured list.</li>
                                </ul>

                                <p>Best regards, <br>{{ drupal_token('site:name') }}</p>
                            </div>
                            <!-- // END MODULE: BODY CONTENT -->
                        </td>
                    </tr>
                    <!-- // END BODY -->
                </table>
                <!--[if gte mso 9]>
                </td>
                </tr>
                </table>
                <![endif]-->
                <!-- // END TEMPLATE -->
            </td>
        </tr>
    </table>
</center>
</body>
</html>