<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Property created</title>

</head>
<body>
<center>
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" id="bodyTable" style="height:100%;">
        <tr>
            <td align="center" valign="top" id="bodyCell">
                <!-- BEGIN TEMPLATE // -->
                <!--[if gte mso 9]>
                <table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
                    <tr>
                        <td align="center" valign="top" width="600" style="width:600px;">
                <![endif]-->
                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer">

                    <!-- BEGIN BODY // -->
                    <tr>
                        <td valign="top" id="templateBody">
                            <!-- BEGIN MODULE: BODY CONTENT // -->
                            <div>
                                <h3>Property proposal</h3>

                                <p><strong>Dear {{ recipient }}!</strong></p>
                                <br>
                                <p>This property may be of interest for you,</p>
                                <br>
                                <strong>Property details:</strong>
                                <ul>
                                    <li><strong>Reference</strong>: {{ advert.field_advert_reference.value }}</li>
                                    <li><strong>Property title</strong>: {{ advert.title.value }}</li>
                                    <li><strong>Property address:</strong> {{ advert.field_advert_district.entity.name.value }}, {{ advert.field_advert_sector.value }}, {{ advert.field_advert_village.value }} {{ advert.field_advert_street.value }}</li>
                                </ul>
                                <br>
                                <strong>Advertiser's details:</strong>
                                <ul>
                                    <li><strong>Name</strong>: {{ advert.field_advert_contact_name.value }}</li>
                                    <li><strong>Phone number</strong>: {{ advert.field_advert_contact_tel.value }}</li>
                                </ul>
                                <br>
                                <strong>Contact details to book a visit:</strong>
                                <ul>
                                    <li><strong>Contact name</strong>: {{ advert.field_visit_contact_name.value }}</li>
                                    <li><strong>Contact phone number 1</strong>: {{ advert.field_visit_cellphone.value }}</li>
                                    <li><strong>Contact phone number 2</strong>: {{ advert.field_visit_cellphone_2.value }}</li>
                                    <li><strong>Contact email 1</strong>: {{ advert.field_visit_email_address1.value }}</li>
                                    <li><strong>Contact email 2</strong>: {{ advert.field_visit_email_address2.value }}</li>
                                </ul>

                                <br>
                                <p>Best regards, <br>{{ drupal_token('site:name') }}</p>
                            </div>
                            <!-- // END MODULE: BODY CONTENT -->
                        </td>
                    </tr>
                    <!-- // END BODY -->

                </table>
                <!--[if gte mso 9]>
                </td>
                </tr>
                </table>
                <![endif]-->
                <!-- // END TEMPLATE -->
            </td>
        </tr>
    </table>
</center>
</body>
</html>