<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Agent Received</title>

</head>
<body>
<center>
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" id="bodyTable" style="height:100%;">
        <tr>
            <td align="center" valign="top" id="bodyCell">
                <!-- BEGIN TEMPLATE // -->
                <!--[if gte mso 9]>
                <table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
                    <tr>
                        <td align="center" valign="top" width="600" style="width:600px;">
                <![endif]-->
                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer">


                    <!-- BEGIN BODY // -->
                    <tr>
                        <td valign="top" id="templateBody">
                            <!-- BEGIN MODULE: BODY CONTENT // -->
                            <div>
                                <h3>Advertiser validation confirmation</h3>

                                <p><strong>Dear {{ agent.title.value }}!</strong></p>

                                <p>Your real estate advertiser profile has been created and it is online:
                                    <a href="{{ drupal_token('site:url') ~ path('entity.node.canonical', {'node':agent.id}) }}">Here</a><br>
                                        Would you please double check that your details below are correct? </p>
                                <strong>Your public details:</strong>
                                <ul>
                                    <li><strong>Full name</strong>: {{ agent.title.value }}</li>
                                    <li><strong>Location of interest</strong>: {{ agent.field_agent_operations_area.value }}</li>
                                    <li><strong>Website</strong>: {{ agent.field_agent_website.value }}</li>
                                    <li><strong>Email</strong>: {{ agent.field_agent_email.value }}</li>
                                </ul>
                                <br>
                                <strong>Your private details:</strong>
                                <ul>
                                    <li><strong>Phone number</strong>: {{ agent.field_agent_phone.value }}</li>
                                    <li><strong>TIN</strong>: {{ agent.field_agent_tin_nbr.value }}</li>
                                </ul>
                                <br>
                                <p>Thank you.</p>
                                <br>
                                <strong>Our Services:</strong>
                                <p>Please ask us about our property advertising services below.</p>
                                <ul>
                                    <li><strong>Standard</strong>: It is a self-service and your adverts appear online for on month and only one picture of the property is displayed online.</li>
                                    <li><strong>Featured</strong>: It is a self-service, your adverts appear on our homepage for as long as needed and you can upload as many pictures of your property as you need.</li>
                                    <li><strong>Featured Plus</strong>: We assess your property, we take as many pictures as needed, we post them on our homepage and they stay on top of the featured listing for a maximum visibility.</li>
                                    <li><strong>Super Featured</strong>: Maximum visibility as your adverts are guaranteed to stay on top of the featured list.</li>
                                </ul>

                                <p>Best regards, <br>{{ drupal_token('site:name') }}</p>
                            </div>
                            <!-- // END MODULE: BODY CONTENT -->
                        </td>
                    </tr>
                    <!-- // END BODY -->
                </table>
                <!--[if gte mso 9]>
                </td>
                </tr>
                </table>
                <![endif]-->
                <!-- // END TEMPLATE -->
            </td>
        </tr>
    </table>
</center>
</body>
</html>