<div class="panel panel-primary similar-adverts-block">
    <div class="panel-heading text-center">{{ title }}</div>
    <ul class="list-group">
        {% for advert in adverts %}
            <li class="list-group-item">
                <div class="media">
                    <div class="media-left">
                        <a href="{{ path('entity.node.canonical', {'node':advert.id}) }}">
                            <img src="{{ advert.field_advert_picture[0].entity.uri.value|image_style('smallest_50x50') }}"
                                 class="media-object img-rounded" alt="{{ advert.title.value }}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">
                            <a href="{{ path('entity.node.canonical', {'node':advert.id}) }}">
                                {{ advert.title.value|slice(0, 20) }}...
                            </a>
                            <small>Ref: {{ advert.field_advert_reference.value }}</small>
                        </h5>
                        <small>
                            <span class="glyphicon glyphicon-map-marker"
                                  aria-hidden="true"></span> {{ advert.field_advert_district.entity.name.value }}, {{ advert.field_advert_sector.value }}
                        </small>
                        {% set property_type = advert.field_advert_property_type.value %}
                            {% if property_type == 'house' %}
                                <span class="label label-primary">{{ property_type }}</span>
                            {% elseif property_type == 'apartment' %}
                                <span class="label label-danger">{{ property_type }}</span>
                            {% elseif property_type == 'room' or property_type == 'shared_room' %}
                                <span class="label label-warning">{{ property_type }}</span>
                            {% elseif property_type == 'building' %}
                                <span class="label label-success">{{ property_type }}</span>
                            {% elseif property_type == 'commerce' %}
                                <span class="label label-default">{{ property_type }}</span>
                            {% elseif property_type == 'office' %}
                                <span class="label label-violet">{{ property_type }}</span>
                            {% elseif property_type == 'land' %}
                                <span class="label label-yellow">{{ property_type }}</span>
                            {% endif %}
                        {#{% endset %}#}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>