<div class="container d-flex align-items-start">
    {% if drupal_token('site:linkedin') is not empty %}
        <a href="{{ drupal_token('site:linkedin') }}" target="_blank">
            <i class="fa-brands fa-linkedin fa-2x mx-1" aria-hidden="true" style="color: #0074B1;"></i>
        </a>
    {% endif %}
    {% if drupal_token('site:facebook') is not empty %}
        <a href="{{ drupal_token('site:facebook') }}" target="_blank">
            <i class="fa-brands fa-square-facebook fa-2x mx-1" aria-hidden="true" style="color: #0B8AEF;"></i>
        </a>
    {% endif %}
    {% if drupal_token('site:twitter') is not empty %}
        <a href="{{ drupal_token('site:twitter') }}" target="_blank">
            <i class="fa-brands fa-square-x-twitter fa-2x mx-1" aria-hidden="true" style="color: white;"></i>
        </a>
    {% endif %}
    {% if drupal_token('site:instagram') is not empty %}
        <a href="{{ drupal_token('site:instagram') }}" target="_blank">
            <i class="fa-brands fa-instagram fa-2x mx-1" aria-hidden="true" style="color: #d62977;"></i>
        </a>
    {% endif %}
    {% if drupal_token('site:whatsapp') is not empty %}
        <a href="{{ drupal_token('site:whatsapp') }}" target="_blank">
            <i class="fa-brands fa-square-whatsapp fa-2x mx-1" aria-hidden="true" style="color: #25d366;"></i>
        </a>
    {% endif %}
    {% if drupal_token('site:youtube') is not empty %}
        <a href="{{ drupal_token('site:youtube') }}" target="_blank">
            <i class="fa-brands fa-youtube fa-2x mx-1" aria-hidden="true" style="color: #FF0100;"></i>
        </a>
    {% endif %}
</div>