<div id="advert-details-block">
    {% if advert.field_advert_video_presentation is not empty %}
    <div class="panel panel-default">
        <div class="panel-heading" style="font-weight: bolder; font-size: large">Property video presentation</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    {{ advert.field_advert_video_presentation|render }}
                    video here
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="panel panel-default">
        <div class="panel-heading" style="font-weight: bolder; font-size: large">Property details</div>
        <div class="panel-body">
            <dl class="dl-horizontal" style="margin-bottom: 0">
                <div class="row">
                    <div class="col-md-6">
                        <strong>Advert
                            type:</strong> {% if advert.field_advert_type.value == 'buy' %} Sale {% else %} {{ advert.field_advert_type.value|capitalize }} {% endif %}
                        <br>
                        <strong>Price:</strong>
                        {% if advert.field_advert_price_negociable.value == '1' %}
                        Negotiable
                    {% else %}
                        {% if advert.field_advert_type.value == 'auction' %}
                            n/a
                        {% else %}
                            {{ advert.field_advert_price.value|number_format }} {{ advert.field_advert_currency.value|upper }}
                            {% if advert.field_advert_type.value == 'rent' %}
                                {% if advert.field_advert_payment.value == 'nightly' %}
                                    <small>/night</small>
                                {% elseif advert.field_advert_payment.value == 'daily' %}
                                    <small>/day</small>
                                {% elseif advert.field_advert_payment.value == 'weekly' %}
                                    <small>/week</small>
                                {% elseif advert.field_advert_payment.value == 'monthly' %}
                                    <small>/month</small>
                                {% elseif advert.field_advert_payment.value == 'yearly' %}
                                    <small>/year</small>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        {% endif %}<br>
                        <strong>Bedrooms:</strong> {{ advert.field_advert_bedrooms.value }} <br>
                        <strong>Total floors:</strong> {{ advert.field_advert_total_floors.value }} <br>
                        <strong>Address:</strong> {{ advert.field_advert_district.entity.name.value }}
                        , {{ advert.field_advert_sector.value }}
                        , {{ advert.field_advert_village.value }} {{ advert.field_advert_street.value }} <br>
                    </div>
                    <div class="col-md-6">
                        <strong>Property
                            type:</strong> {% if advert.field_advert_property_type.value == 'shared_room' %} Shared room {% else %} {{ advert.field_advert_property_type.value|capitalize }} {% endif %}
                        <br>
                        <strong>Bathrooms:</strong> {{ advert.field_advert_bathrooms.value }} <br>
                        <strong>Plot
                            size:</strong> {% if advert.field_advert_size is not empty and advert.field_advert_size.value != 0 %} {{ advert.field_advert_size.value|number_format(2, '.', ',') }} m² {% else %} n/a {% endif %}
                        <br>
                        <strong>Living
                            area:</strong> {% if advert.field_advert_living_area is not empty and advert.field_advert_living_area.value != 0 %}{{ advert.field_advert_living_area.value|number_format(2, '.', ',') }} m²{% else %} n/a {% endif %}
                        <br>
                        <strong>Expiry
                            date:</strong> {{ advert.field_advert_expirydate.value is empty ? "" : advert.field_advert_expirydate.value|date("d-m-Y") }}
                        <br>
                    </div>
                </div>
            </dl>
        </div>
    </div>
    {% if advert.field_property_description is not empty %}
        <div class="panel panel-default">
            <div class="panel-heading" style="font-weight: bolder; font-size: large">Property description</div>
            <div class="panel-body">
                <dl class="dl-horizontal" style="margin-bottom: 0">
                    <div class="row">
                        <div class="col-md-12">
                            <p>{% autoescape false %} {{ advert.field_property_description.value }} {% endautoescape %}</p>
                        </div>
                    </div>
                </dl>
            </div>
        </div>
    {% endif %}
    <div class="panel panel-default">
        <div class="panel-heading" style="font-weight: bolder; font-size: large">Contact details</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <blockquote>
                        <small>Please use the details below to book a visit of the property</small>
                    </blockquote>
                </div>
                <div class="col-md-6">
                    <strong>Contact person:</strong> {{ advert.field_visit_contact_name.value }} <br>
                    <strong>Phone number:</strong> {{ advert.field_visit_cellphone.value }} <br>
                    <strong>Email:</strong> {{ advert.field_visit_email_address1.value }} <br>
                </div>
                <div class="col-md-6">
                    <strong style="visibility: hidden"></strong> <br>
                    <strong>Phone number 2:</strong> {{ advert.field_visit_cellphone_2.value }} <br>
                    <strong>Email 2:</strong> {{ advert.field_visit_email_address2.value }} <br>
                </div>
            </div>
        </div>
    </div>
    {% if advert.field_advert_is_agent.value == '1' %}
        <div class="panel panel-default">
            <div class="panel-heading" style="font-weight: bolder; font-size: large">Advertiser agent</div>
            <div class="panel-body">
                <dl class="dl-horizontal" style="margin-bottom: 0">
                    <div class="row">
                        <div class="col-md-2 col-xs-12">
                            <a href="{{ drupal_url('node/' ~ advert.field_advert_advertiser.entity.id, {absolute: true}) }}">
                                {% if advert.field_advert_advertiser.entity.field_agent_logo.entity.uri.value is not empty %}
                                    <img src="{{ advert.field_advert_advertiser.entity.field_agent_logo.entity.uri.value|image_style('thumbnail') }}"
                                         class="img-thumbnail"/>
                                {% else %}
                                    <img src="{{ 'public://default_images/unknown.jpg'|image_style('thumbnail') }}"
                                         class="img-thumbnail"/>
                                {% endif %}
                            </a>
                        </div>
                        <div class="col-md-5 col-xs-6">
                            <strong>Name:</strong> {{ advert.field_advert_advertiser.entity.title.value }}<br>
                            <strong>Website:</strong> {{ advert.field_advert_advertiser.entity.field_agent_website.value }}
                            <br>
                            <strong>Location of
                                interest: </strong> {{ advert.field_advert_advertiser.entity.field_agent_operations_area.value }}
                            <br>
                        </div>
                        <div class="col-md-5 col-xs-6">
                            <strong>District:</strong> {{ advert.field_advert_advertiser.entity.field_agent_district.entity.name.value }}
                            <br>
                            <strong>Sector:</strong> {{ advert.field_advert_advertiser.entity.field_agent_sector.value }}
                            <br>
                            <strong>Street:</strong> {{ advert.field_advert_advertiser.entity.field_agent_street.value }}
                            <br>
                        </div>
                    </div>
                </dl>
            </div>
        </div>
    {% endif %}
</div>