<div class="card border-secondary border-secondary">
    <div class="card-header bg-secondary text-white"><i class="fas fa-chart-bar"></i> {{ title }}</div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center">Our rent adverts since 2017<span class="badge bg-secondary rounded-pill">{{ rent }}</span></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">Our sale adverts since 2017<span class="badge bg-secondary rounded-pill">{{ sale }}</span></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">Our auctions since 2017<span class="badge bg-secondary rounded-pill">{{ auctions }}</span></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">Our advertisers since 2017<span class="badge bg-secondary rounded-pill">{{ agents }}</span></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">Our PR adverts since 2019<span class="badge bg-secondary rounded-pill">{{ prs }}</span></li>
    </ul>
</div>
