<div class="card border-secondary">
    <div class="card-header bg-secondary text-white"><i class="fas fa-briefcase"></i> {{ title }}</div>
    <div class="card-body">
        <i class="fas fa-check"></i> {{ drupal_link('Property/Real estate advertising'|t, '/services', check_access=true) }}<br>
        <i class="fas fa-check"></i> {{ drupal_link('Assessing/Picturing property for advertising'|t, '/page/about-us', check_access=true) }}<br>
        <i class="fas fa-check"></i> {{ drupal_link('Real estate agents/commissioners listing'|t, '/advertisers', check_access=true) }}<br>
        <i class="fas fa-check"></i> {{ drupal_link('Property requests advertising'|t, '/pr-posting-plans', check_access=true) }}<br>
    </div>
</div>
