<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Request info</title>

</head>
<body>
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" id="bodyTable" style="height:100%;">
        <tr>
            <td align="center" valign="top" id="bodyCell">
                <!-- BEGIN TEMPLATE // -->
                <!--[if gte mso 9]>
                <table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
                    <tr>
                        <td align="center" valign="top" width="600" style="width:600px;">
                <![endif]-->
                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer">


                    <!-- BEGIN BODY // -->
                    <tr>
                        <td valign="top" id="templateBody">
                            <!-- BEGIN MODULE: BODY CONTENT // -->
                            <div>
                                <h3>Request for more details about a property</h3>

                                <p><strong>Dear {{ contact_name }}!</strong></p>

                                <p>{{ message }}</p>

                                <strong>My details:</strong>
                                <ul>
                                    <li><strong>My names</strong>: {{ names }}</li>
                                    <li><strong>My mobile number</strong>: {{ phone }}</li>
                                    <li><strong>My email</strong>: {{ email }}</li>
                                </ul>
                                <strong>The property I am interested in:</strong>
                                <ul>
                                    <li><strong>Reference</strong>: <a href="{{ drupal_token('site:url') ~ path('entity.node.canonical', {'node':advert.id}) }}" target="_blank">{{ advert.field_advert_reference.value }}</a></li>
                                    <li><strong>Title</strong>: {{ advert.title.value }}</li>
                                </ul>
                                <br>
                                <p>Best regards, <br>{{ names }}</p>
                            </div>
                            <!-- // END MODULE: BODY CONTENT -->
                        </td>
                    </tr>
                    <!-- // END BODY -->
                </table>
                <!--[if gte mso 9]>
                </td>
                </tr>
                </table>
                <![endif]-->
                <!-- // END TEMPLATE -->
            </td>
        </tr>
    </table>
</body>
</html>