<div class="panel panel-success">
    <div class="panel-heading"><span class="glyphicon glyphicon-stats"></span> {{ title }}</div>
    <ul class="list-group">
        <li class="list-group-item"><span class="badge">{{ rent }}</span>Our rent adverts since 2017</li>
        <li class="list-group-item"><span class="badge">{{ sale }}</span>Our sale adverts since 2017</li>
        <li class="list-group-item"><span class="badge">{{ auctions }}</span>Our auctions since 2017</li>
        <li class="list-group-item"><span class="badge">{{ agents }}</span>Our advertisers since 2017</li>
    </ul>
</div>