<div class="panel panel-primary">
    <div class="panel-heading"><i class="fas fa-home"></i> {{ title }}</div>
    <div class="panel-body">
        <p>{{ drupal_token('site:name') }} - SiC Ltd</p>
        <p><i class="fas fa-map-marker-alt"></i> KG 28 Ave 72 - Kimihurura</p>
        <p><i class="fas fa-envelope"></i> P.O. Box 4062 Kigali, Rwanda</p>
        <p><i class="fas fa-phone"></i> {{ phone }}</p>
        <p><i class="fas fa-phone"></i> {{ drupal_token('custom_token:phone') }}</p>
        <p><i class="fas fa-at"></i> {{ drupal_token('site:mail') }}</p>
    </div>
</div>