<div id="advert-details-block">
    <div class="panel panel-default">
        <div class="panel-heading">Property details</div>
        <div class="panel-body">
            <dl class="dl-horizontal" style="margin-bottom: 0">
                <div class="row">
                    <div class="col-md-6">
                        <strong>Advert type:</strong> {% if advert.field_advert_type.value == 'buy' %} Sale {% else %} {{ advert.field_advert_type.value|capitalize }} {% endif %} <br>
                        <strong>Price:</strong> {{ advert.field_advert_price.value }} <br>
                        <strong>Bedrooms:</strong> {{ advert.field_advert_bedrooms.value }} <br>
                        <strong>Total floors:</strong> {{ advert.field_advert_total_floors.value }} <br>
                        <strong>Address:</strong> {{ advert.field_advert_district.entity.name.value }}, {{ advert.field_advert_sector.value }}, {{ advert.field_advert_village.value }} {{ advert.field_advert_street.value }} {{ advert.field_advert_housenumber.value }} <br>
                    </div>
                    <div class="col-md-6">
                        <strong>Property type:</strong> {% if advert.field_advert_property_type.value == 'shared_room' %} Shared room {% else %} {{ advert.field_advert_property_type.value|capitalize }} {% endif %} <br>
                        <strong>Currency:</strong> {{ advert.field_advert_currency.value }} <br>
                        <strong>Bathrooms:</strong> {{ advert.field_advert_bathrooms.value }} <br>
                        <strong>Size:</strong> {{ advert.field_advert_size.value }} <br>
                        <strong>Living area:</strong> {{ advert.field_advert_living_area.value }} <br>
                    </div>
                    <div class="col-md-12">
                        <strong>Expiry date:</strong> {{ advert.field_advert_expirydate.value is empty ? "" : advert.field_advert_expirydate.value|date("d-m-Y") }} <br>
                    </div>
                </div>
            </dl>
        </div>
    </div>
    {% if advert.field_property_description is not empty %}
    <div class="panel panel-default">
        <div class="panel-heading">Property description</div>
        <div class="panel-body">
            <dl class="dl-horizontal" style="margin-bottom: 0">
                <div class="row">
                    <div class="col-md-12">
                        <p>{{ advert.field_property_description.value }}</p>
                    </div>
                </div>
            </dl>
        </div>
    </div>
    {% endif %}
    <div class="panel panel-default">
        <div class="panel-heading">Contact details</div>
        <div class="panel-body">
            <blockquote>
                <small>Please use the details below to book a visit of the property</small>
            </blockquote>
            <strong>Contact name:</strong> {{ advert.field_advert_contact_name.value }} <br>
            <strong>Contact phone number:</strong> {{ advert.field_advert_contact_tel.value }} <br>
            <strong>Contact email:</strong> {{ advert.field_advert_contact_email.value }} <br>
        </div>
    </div>
    {% if advert.field_advert_is_agent.value == 'Yes' or advert.field_advert_is_agent.value == '1' or advert.field_advert_is_agent.value == 'true' or advert.field_advert_is_agent.value == 'On' %}
        <div class="panel panel-default">
            <div class="panel-heading">Advertiser agency</div>
            <div class="panel-body">
                <dl class="dl-horizontal" style="margin-bottom: 0">
                    <div class="row">
                        <div class="col-md-2">
                            {% if advert.field_advert_advertiser.entity.field_agent_logo.entity.uri.value is not empty %}
                                <img src="{{ file_url(advert.field_advert_advertiser.entity.field_agent_logo.entity.uri.value) }}" width="90" height="auto" class="img-thumbnail"/>
                            {% else %}
                                <img src="{{ file_url('public://default_images/unknown.jpg') }} " width="90" height="auto" class="img-thumbnail"/>
                            {% endif %}
                        </div>
                        <div class="col-md-5">
                            <strong>District:</strong> {{ advert.field_advert_advertiser.entity.field_agent_district.entity.name.value }}
                            <br>
                            <strong>Sector:</strong> {{ advert.field_advert_advertiser.entity.field_agent_sector.value }}
                            <br>
                            <strong>Street:</strong> {{ advert.field_advert_advertiser.entity.field_agent_street.value }}
                            <br>
                        </div>
                        <div class="col-md-5">
                            <strong>Website:</strong> {{ advert.field_advert_advertiser.entity.field_agent_website.value }}
                            <br>
                        </div>
                    </div>
                </dl>
            </div>
        </div>
    {% endif %}
</div>