<div id="advert-details-block">
    <div class="panel panel-default">
        <div class="panel-heading">Property details</div>
        <div class="panel-body">
            <dl class="dl-horizontal" style="margin-bottom: 0">
                <div class="row">
                    <div class="col-md-6">
                        <dt>Advert type</dt><dd>{{ advert.field_advert_type.value }}</dd>
                        <dt>Price</dt><dd>{{ advert.field_advert_price.value }}</dd>
                        <dt>Bedrooms</dt><dd>{{ advert.field_advert_bedrooms.value }}</dd>
                        <dt>Total floors</dt><dd>{{ advert.field_advert_total_floors.value }}</dd>
                        <dt>Address</dt><dd>{{ advert.field_advert_district.entity.name.value }}, {{ advert.field_advert_sector.value }}, {{ advert.field_advert_village.value }} {{ advert.field_advert_street.value }} {{ advert.field_advert_housenumber.value }}</dd>
                    </div>
                    <div class="col-md-6">
                        <dt>Property type</dt><dd>{{ advert.field_advert_property_type.value }}</dd>
                        <dt>Currency</dt><dd>{{ advert.field_advert_currency.value }}</dd>
                        <dt>Bathrooms</dt><dd>{{ advert.field_advert_bathrooms.value }}</dd>
                        <dt>Size</dt><dd>{{ advert.field_advert_size.value }}</dd>
                        <dt>Living area</dt><dd>{{ advert.field_advert_living_area.value }}</dd>
                    </div>
                    <div class="col-md-12">
                        <dt>Expiry date</dt><dd>{{ advert.field_advert_expirydate.value }}</dd>
                    </div>
                </div>
            </dl>
        </div>
    </div>
    {% if advert.field_property_description is not empty %}
    <div class="panel panel-default">
        <div class="panel-heading">Property description</div>
        <div class="panel-body">
            <dl class="dl-horizontal" style="margin-bottom: 0">
                <div class="row">
                    <div class="col-md-12">
                        <p>{{ advert.field_property_description.value }}</p>
                    </div>
                </div>
            </dl>
        </div>
    </div>
    {% endif %}
    <div class="panel panel-default">
        <div class="panel-heading">Contact details</div>
        <div class="panel-body">
            <blockquote>
                <p>Please use the details below to book a visit of the property</p>
            </blockquote>
            <dl class="dl-horizontal" style="margin-bottom: 0">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <dt>Contact name</dt><dd>{{ advert.field_advert_contact_name.value }}</dd>
                        <dt>Contact phone number</dt><dd>{{ advert.field_advert_contact_tel.value }}</dd>
                        <dt>Contact email</dt><dd>{{ advert.field_advert_contact_email.value }}</dd>
                    </div>
                </div>
            </dl>
        </div>
    </div>
    {% if advert.field_advert_is_agent.value == 'Yes' or advert.field_advert_is_agent.value == '1' or advert.field_advert_is_agent.value == 'true' or advert.field_advert_is_agent.value == 'On' %}
        <div class="panel panel-default">
            <div class="panel-heading">Advertiser agency</div>
            <div class="panel-body">
                <dl class="dl-horizontal" style="margin-bottom: 0">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="{{ file_url(advert.field_advert_advertiser.entity.field_agent_logo.entity.uri.value) }}" width="90" height="auto" class="img-thumbnail"/>
                        </div>
                        <div class="col-md-5">
                            <dt>District</dt><dd>{{ advert.field_advert_advertiser.entity.field_agent_district.entity.name.value }}</dd>
                            <dt>Sector</dt><dd>{{ advert.field_advert_advertiser.entity.field_agent_sector.value }}</dd>
                            <dt>Street</dt><dd>{{ advert.field_advert_advertiser.entity.field_agent_street.value }}</dd>
                        </div>
                        <div class="col-md-5">
                            <dt>Website</dt><dd>{{ advert.field_advert_advertiser.entity.field_agent_website.value }}</dd>
                        </div>
                    </div>
                </dl>
            </div>
        </div>
    {% endif %}
</div>