<div>
    Copyright &copy; {{ year }} {{ drupal_token('site:name') }} - SiC Ltd. All Rights Reserved.
    <div class="site-details"><a href="/page/about-us">About us</a> <a href="/page/terms-use">{{ terms }}</a> | <a href="/page/privacy-policy">{{ privacy }}</a> | <a href="/user">{{ admin }}</a>
    </div>
</div>